[submodule "googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark
[submodule "docopt.cpp"]
	path = extern/docopt.cpp
	url = https://github.com/docopt/docopt.cpp
[submodule "yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen
